DATABASE_URL="postgresql://postgres:passwordKamu@localhost:5432/lostNfound?schema=public"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET="supersecretmsdahsdgadna^&%@xnaksdgfuabfhayu@!#$"
AUTH_TRUST_HOST=true

GOOGLE_CLIENT_ID="ini wa juga"
GOOGLE_CLIENT_SECRET="liat wa yang awalnya GOCSPX"

EMAIL_USER=lostnfoundteam77@gmail.com
EMAIL_PASS=gzob vsdm cnub owes